body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    background-image: url('https://source.unsplash.com/1600x900/?football');
    justify-content:center;
    align-items: center;
  }
  
  #result {
    margin-top: 50px;
  }
  
  form {
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #results {
    margin-top: 50px;
    display: none;
  }
  .results_page {
    background-image: url('https://source.unsplash.com/1600x900/?Championsleague'); ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .results_page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* This sets the height of the container to the full viewport height */
      font-size:20px;
      color:black
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height:300px
  }

  table,th,td {
    border:1px solid;
    background: #7c7c7c2b;
    border-radius: 5px;
    color: white;
  }
  tr:hover {background-color: #2c2c2c;}