<!DOCTYPE html>
<html>
  <head>
    <title>Champions Leagues</title>
      </head>
  <body>
    <h1>Champions League Search Engine</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <div class="search-bar">
    <form action="/search" id="searchForm" method="GET">
      <input type="text" id="searchQuery" name="q" placeholder="Enter player name...">
      <button type="submit" id="searchButton">Search</button>
    </form>
  </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
